/* Styles for coach/captain pages */
.or .win {
background-color: #f99; /* overwrites year default */
}

.win {
color: #333;
background-color: #ccc; /* sets year bg to stand out */
}

.or .draw {
background-color: #f99; /* overwrites year default */
}

.draw {
color: #333;
background-color: #ccc; /* sets year bg to stand out */
}