/* ######## HEADINGS ######## */
h2 {
	text-align: right;
}

/* ######## RETRO ######## */
.retro { /* For non-CSS browsers, otherwise invisible */
display: none;
}

.webstds { /* Accessability footer, hidden for std. browsers */
display: none;
}

/* ######## OTHER ######## */
.score { /* Final score on gfteams pages */
}

table { /* Table borders are set on, this hides them for std. browsers */
border: 0;
}

td {
border: 0;
}

th {
border: 0;
}

/* ######## MENU ######## */
.menu, .menuselected {
font-size : 11px;
margin: 1px;
padding: 4px 0 4px 20px;
background: #f00 url(images/corner.gif) no-repeat;
color: #f90;
}

.menu a:link, .menuselected a:link { 
color: #fff; 
text-decoration: none;
font-weight: bold;
}

.menu a:visited, .menuselected a:visited { 
color: #fff; 
text-decoration: underline;
font-weight: bold;
}

.menu a:hover, .menuselected a:hover {
color: #f90;
text-decoration: none;
}

.submenu {
font-size: 11px;
list-style: none;
padding: 0;
margin: 0;
}

.submenu a:link {
color: #fff; 
text-decoration: none;
font-weight: bold;
}

.submenu a:visited {
color: #fff; 
text-decoration: underline;
font-weight: bold;
}

.submenu a:hover {
color: #f00;
text-decoration: none;
}

.submenu li {
font-size: 11px;
margin: 1px;
padding: 2px 0 3px 35px;
color: #f90;
background: #f99;
}

.submenu .item {
font-size : 11px; 
margin: 1px;
color: #f90;
background: #f99;
padding: 4px 4px 4px 30px;
}

.colcaption { /* caption for photo column */
background: #f99;
}

.pswrap { /* div to make tables float - netscape crashes if it sees this*/
float: left;
width: 180px; /* Opera fix */
margin: 5px;
}

/* ######## IMAGES ######## */
.photo {
margin: 0 10px 10px 0;
}

.caption { /* caption for photo column */
text-align: right;
margin: 0;
color: #fff;
padding: 2px 4px;
background: #f00;
}

.caption a:link { 
color : #fff; 
text-decoration : none;
}

.caption a:visited { 
color : #fff; 
text-decoration : none;
}