/* Surname cell */
#data .surname {
	text-align: left;
	font-weight: bold;
}
/* Firstname cell */
#data .firstname {
	text-align: left;
}

/* Round heading, not round number */
#data .roundh {
	text-align: right;
}

/* Rounds row */
#data .roundsrow th {
	font-weight: bold;
	color: #fff;
	background: #f00;
}

/* Opponent row, applied with tr to whole 2nd row */
#data .opprow th {
	font-weight: normal;
	background: #f00;
	color: #fff;
}

/* Player heading - below .opprow to overide */
#data th.playerh  {
	text-align: left;
	font-weight: bold;
}

/* Opponent heading, not opponents - below .opprow to overide */
#data th.opphead {
	text-align: right;
	font-weight: bold;
}

/* Team totals row */
#data .ttotalsrow  th {
	font-weight: bold;
	background: red;
	color: white;
}

/* Player total column when it occurs on an odd column */
.ptotalo { 
	background: #ccc;
}

/* Player total column when it occurs on an even column */
.ptotale {
}

/* Override background when on an even row */
.or .ptotalo, or .ptotale {
	background: #f99;
	color: #000;
}