/* Styles for interleague pages */
.match {
font-size: 10px;
margin: 5px 5px 5px;
line-height: 120%;
font-weight: bold;
}

.players {
font-size: 10px;
margin: 0 5px 5px;
line-height: 120%;
}