/* Styles for best and fairest pages */
.or .score {
background-color: #f99; /* overwrites score default */
}

.score { /* B&F score */
color: #333;
font-weight: bold;
background-color: #ccc; /* sets score bg to stand out */
}

.pswrap table { /* player/score table */
width: 180px;
}